<div class="d-flex pt-5" style="justify-content: center">
  <div style="width: 50rem; height: 100rem">
    <div class="card p-5">
      <div class="text-center">
        <h1>Login</h1>
      </div>
      <div>
        <img src="../../assets/images/login.svg" alt="" />
      </div>
      <form (ngSubmit)="login()" #loginform="ngForm">
        <label for="username" class="form-label">Username : </label>
        <input
          type="email"
          id="username"
          name="username"
          class="form-control py-3"
          [(ngModel)]="email"
          required
          minlength="4"
          #name="ngModel"
        />

        <span *ngIf="!name.valid && name.touched" class="text-muted"
          >Username is required and must have at least 4 characters.</span
        >

        <br />

        <br />

        <label for="password" class="form-label">Password : </label>
        <input
          type="text"
          id="password"
          name="password"
          class="form-control py-3"
          [(ngModel)]="password"
          required
          minlength="4"
          #pass="ngModel"
        />

        <span *ngIf="!pass.valid && pass.touched" class="text-muted">
          Password is required and must have at least 4 characters.</span
        >

        <br />

        <button
          class="btn btn-primary w-100 mt-3 py-3"
          type="submit"
          [disabled]="!name.valid || !pass.valid"
        >
          Login
        </button>
      </form>
    </div>
  </div>
</div>
